In [1]:
import os
from pathlib import Path
import sys

# set working directory to the module's home
cwd = os.getcwd()
os.chdir(Path(cwd).parents[1])

In [2]:
from config import connect
import pandas as pd

In [3]:
conn = connect()

In [4]:
cursor = conn.cursor()

In [6]:
# q = "DROP TABLE AQI.month_mort"
# q = "DROP TABLE AQI.combined"
# q = "DROP TABLE AQI.index"
cursor.execute(q)

In [11]:
cursor.execute("CREATE TABLE AQI.month_mort (mm_Year INTEGER(255), mm_Month INTEGER(255), mm_State VARCHAR(255), mm_Parameter VARCHAR(255), mm_AQI FLOAT(8, 2), mm_Age_Group VARCHAR(255), mm_Deaths INTEGER(255), mm_CP_Deaths INTEGER(255), mm_Pct_CP_Death FLOAT(8, 5))")

# cursor.execute("CREATE TABLE AQI.index (state_name VARCHAR(255), date DATE, aqi INTEGER(255), category VARCHAR(255), defining_parameter VARCHAR(255), latitude FLOAT(8, 5), longitude FLOAT(8, 5), county_name VARCHAR(255))")

# cursor.execute("CREATE TABLE AQI.combined (Year INTEGER(255), State VARCHAR(255), Parameter VARCHAR(255), AQI FLOAT(8, 2), Age_Group VARCHAR(255), Population INTEGER(255), CP_deaths INTEGER(255), Total_deaths INTEGER(255), Pct_CP_Death FLOAT(8, 5))")

In [12]:
file_path = "data/aqi_mort_months_ages_1117.csv"
# file_path = "data/data_combined_UPDATED1104.csv"
# file_path = "data/aqi_daily_1980_to_2021.csv"

In [13]:
from csv import reader
data = []

with open(file_path, 'r') as file:
    csv_reader = reader(file)
    header = next(csv_reader)
    for row in csv_reader:
        for i in range(len(row)):
            if row[i] == 'NA':
                row[i] = None
        val = tuple(row[1:])
#         val = tuple(row)
        data.append(val)

In [14]:
sql = "INSERT INTO AQI.month_mort (mm_Year, mm_Month, mm_State, mm_Parameter, mm_AQI, mm_Age_Group, mm_Deaths, mm_CP_Deaths, mm_Pct_CP_Death) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
# sql = "INSERT INTO AQI.index (state_name, date, aqi, category, defining_parameter, latitude, longitude, county_name) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
# sql = "INSERT INTO AQI.combined (Year, State, Parameter, AQI, Age_Group, Population, CP_deaths, Total_deaths, Pct_CP_Death) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
# cursor.executemany(sql, data)
# conn.commit()

In [16]:
# i = 0
# while i < len(data):
#     print(i)
#     try:
#         d = data[i:i+1000]
#     except:
#         d = data[i:]
#     cursor.executemany(sql, d)
#     conn.commit()
#     i += 1000

In [17]:
from db_management.database_management import load_data