In [1]:
cd ..

/Users/valerieschnapp/Desktop/GT/CSE_6242/project/CSE_6242_Project

In [2]:
from config import connect
import pandas as pd

In [3]:
conn = connect()

In [4]:
cursor = conn.cursor()

In [5]:
q = "SELECT * FROM AQI.combined WHERE State='Virginia'"
cursor.execute(q)

In [6]:
num_fields = len(cursor.description)
field_names = [i[0] for i in cursor.description]
print(field_names)

['Year', 'State', 'Parameter', 'AQI', 'Age_Group', 'Population', 'CP_deaths', 'Total_deaths', 'Pct_CP_Death']

In [7]:
table_rows = cursor.fetchall()

In [8]:
virginia_df = pd.DataFrame(table_rows, columns=field_names)

In [9]:
virginia_df

,Year,State,Parameter,AQI,Age_Group,Population,CP_deaths,Total_deaths,Pct_CP_Death
0,1980,Virginia,CO,29.26,< 1 year,78443.0,59.0,1067.0,5.53
1,1980,Virginia,CO,29.26,1-4 years,288563.0,18.0,166.0,10.84
2,1980,Virginia,CO,29.26,5-9 years,387524.0,11.0,95.0,11.58
3,1980,Virginia,CO,29.26,10-14 years,431051.0,7.0,115.0,6.09
4,1980,Virginia,CO,29.26,15-19 years,505674.0,30.0,468.0,6.41
...,...,...,...,...,...,...,...,...,...
2540,2020,Virginia,PM10,7.24,None,NaN,NaN,NaN,NaN
2541,2020,Virginia,PM2.5,31.52,None,NaN,NaN,NaN,NaN
2542,2020,Virginia,SO2,21.90,None,NaN,NaN,NaN,NaN
2543,2021,Virginia,Ozone,31.75,None,NaN,NaN,NaN,NaN
2544,2021,Virginia,PM10,4.14,None,NaN,NaN,NaN,NaN

In [10]:
# q = "DROP TABLE AQI.combined"
# cursor.execute(q)

In [11]:
# cursor.execute("CREATE TABLE AQI.combined (Year INTEGER(255), State VARCHAR(255), Parameter VARCHAR(255), AQI FLOAT(8, 2), Age_Group VARCHAR(255), Population INTEGER(255), CP_deaths INTEGER(255), Total_deaths INTEGER(255), Pct_CP_Death FLOAT(8, 5))")

In [12]:
# file_path = "data/data_combined_UPDATED1104.csv"

In [13]:
# from csv import reader
# data = []

# with open(file_path, 'r') as file:
#     csv_reader = reader(file)
#     header = next(csv_reader)
#     for row in csv_reader:
#         for i in range(len(row)):
#             if row[i] == 'NA':
#                 row[i] = None
#         val = tuple(row[1:])
#         data.append(val)

# sql = "INSERT INTO AQI.combined (Year, State, Parameter, AQI, Age_Group, Population, CP_deaths, Total_deaths, Pct_CP_Death) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
# cursor.executemany(sql, data)
# conn.commit()